<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ss4.hackathons"
    android:versionCode="1"
    android:versionName="1.0">

        <!-- Internet Permissions -->
        <uses-permission android:name="android.permission.INTERNET" />

        <!-- Network State Permissions -->
        <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

        <!-- Internal Storage Permissions -->
        <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
        <uses-permission android:name="android.permission.CAMERA" />

        <uses-feature android:name="android.hardware.camera" />
        <uses-feature android:name="android.hardware.camera.autofocus" />

        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

        <android:users-permission android:name="android.permission.READ_PHONE_STATE" />


        <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:targetApi="donut"
            tools:ignore="GoogleAppIndexingWarning,RtlEnabled">
            <activity android:name=".MainActivity">
                <intent-filter>
                    <action android:name="android.intent.action.MAIN" />

                    <category android:name="android.intent.category.LAUNCHER" />
                </intent-filter>
            </activity>
            <activity android:name=".Register"
                android:configChanges="keyboardHidden|orientation|screenSize"/>
            <activity android:name=".Home"
                android:configChanges="keyboardHidden|orientation|screenSize"/>
            <activity android:name=".QuizTest"
                android:configChanges="keyboardHidden|orientation|screenSize"/>
            <activity android:name=".ForgetPassword"
                android:configChanges="keyboardHidden|orientation|screenSize"/>
            <activity android:name=".CollegeList" />
            <activity android:name=".Result"
                android:configChanges="keyboardHidden|orientation|screenSize"/>
            <activity
                android:name=".AddProfileImage"
                android:configChanges="keyboardHidden|orientation|screenSize" />
        </application>

    </manifest>